@media (min-width: 1280px){
    main{
        max-width: 1200px;
        margin-inline: auto;
        padding: 0;
    }
    header{
        padding-block: 0;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .logo img{
        width: auto;
    }
    .nav{
        position: initial;
        width: auto !important;
        height: auto;
        padding: 0;
    }
    .nav ul{
        margin-top: 0;
        display: flex;
        gap: 2.5rem;
    }
    .nav ul li{
        margin-bottom: 0;
    }
    .nav a{
        font-size: medium;
        color: var(--Dark-grayish-blue);
    }
    .open-nav-mobile{
        display: none;
    }
    .close-nav-mobile{
        display: none;
    }
    .primary-news main{
        display: grid;
        grid-template-columns: 2.5fr 1fr;
        gap: 1.5rem;
    }
    .primary-news-content{
        margin-bottom: 0;
    }
    .primary-news-element{
        place-items: center;
        gap: 6rem;
        margin-block-start: 2rem !important;
        margin-block-end: 0 !important;
    }
    .primary-news-text{
        height: 100%;
        display: grid;
        place-content: space-between;
    }
    .primary-news-text p{
        margin-bottom: 0;
    }
    .primary-news-aside{
        display: grid;
        place-content: space-between;
        padding-bottom: 2rem;
    }
    .primary-news-aside h1{
        font-size: xxx-large;
    }
    .secondary-news main{
        grid-template-columns: repeat(3, 1fr) !important;
        gap: 6rem;
    }
    .secondary-news-info{
        margin-bottom: 0;
    }
}